<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project xmlns:con="http://eviware.com/soapui/config" abortOnError="false" activeEnvironment="Default environment" authProfile="New Spotify July 23" created="3.42.2" encryptionMode="Not encrypted" id="41f2263d-6b3c-4289-a97e-31520775f985" name="SpotifyAPI" projectVersion="" resourceRoot="" runType="SEQUENTIAL" updated="3.64.0" compositeProjectFormat="1.3">
  <con:settings>
    <con:setting id="41f2263d-6b3c-4289-a97e-31520775f985fileName">SpotifyAPI-readyapi-project</con:setting>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.ProTestRunnerAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Settings File Password" value=""/>
  <con:entry key="Report Format(s)" value="XML"/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="true"/>
  <con:entry key="Export All" value="true"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Slack Channel(s)" value=""/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Test Suite Tags" value=""/>
  <con:entry key="Select Report Type" value="JUnit-Style report for automation"/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Test Suite" value="GetArtistsData"/>
  <con:entry key="Run in-process" value="false"/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="true"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Test Case Tags" value=""/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Select test suits containing:" value="At least one tag"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Select test cases containing:" value="At least one tag"/>
  <con:entry key="Test Case" value="GetArtists-Pos"/>
  <con:entry key="Slack Access Token" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="Username" value=""/>
  <con:entry key="TestRunner Path" value="C:\Program Files\SmartBear\ReadyAPI-3.48.0\bin"/>
  <con:entry key="Environment" value="No Environment"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value="${WORKSPACE}"/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
    <con:setting id="ProjectSettings@shadowPassword">password</con:setting>
  </con:settings>
  <con:requirements/>
  <con:properties>
    <con:property encrypted="false">
      <con:name>clientID</con:name>
      <con:value>610b910ba0474dccbc33ef547c1600cd</con:value>
      <con:encryptedContent/>
    </con:property>
    <con:property encrypted="false">
      <con:name>clientSecret</con:name>
      <con:value>88784898023d4526b1b29b93c09bafad</con:value>
      <con:encryptedContent/>
    </con:property>
    <con:property encrypted="false">
      <con:name>authURL</con:name>
      <con:value>https://accounts.spotify.com/authorize?</con:value>
      <con:encryptedContent/>
    </con:property>
    <con:property encrypted="false">
      <con:name>accessTokenURL</con:name>
      <con:value>https://accounts.spotify.com/api/token</con:value>
      <con:encryptedContent/>
    </con:property>
    <con:property encrypted="false">
      <con:name>redirectURL</con:name>
      <con:value>http://localhost:8081/callback</con:value>
      <con:encryptedContent/>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer>
    <con:oAuth2Profile>
      <con:name>New Spotify July 23</con:name>
      <con:type>OAuth 2.0</con:type>
      <con:authorizationURI>https://accounts.spotify.com/authorize?</con:authorizationURI>
      <con:accessTokenURI>https://accounts.spotify.com/api/token</con:accessTokenURI>
      <con:redirectURI>http://localhost:8081/callback</con:redirectURI>
      <con:accessToken>BQA2qaaF0J7R-mi5ydwQ-9QDiPUddzVlRH2mOHreasTq5Z6azUp27bZ1HtNBjWhFQv39DK_yP45RySnXFDj9XjbQFbIJRV43e0F2LQFh3w5aMTTe7FMOJarNF_mOGZw7aeQtEgfx8k9OB_LJsAriJKhYC4UNPVuUGkUN311HAV42a9Hv5PNE0TNlfsXm6iajVtQbdn0n-ojyqe73QltX33WZyt-e4abjgGdCf-VdQnelFQvfUtGARnqzQKTQaDo60iMXXEwyHXHVVFa57_i4n_rrAEOvf1JFcVjumndFh8kHJV1axiI4PCCN_-apTGFRVoGKM_XYGQ8KCLfkHAN5H5F8RZ00YbrNlrzgrfFi4NDo_jfrTUx_egrPQ7MObfhhjSy1BGSU31o</con:accessToken>
      <con:accessTokenPosition>QUERY</con:accessTokenPosition>
      <con:accessTokenStatus>RETRIEVED_FROM_SERVER</con:accessTokenStatus>
      <con:accessTokenStartingStatus>RETRIEVED_FROM_SERVER</con:accessTokenStartingStatus>
      <con:accessTokenIssuedTime>1766801860</con:accessTokenIssuedTime>
      <con:manualAccessTokenExpirationTime>10</con:manualAccessTokenExpirationTime>
      <con:useManualAccessTokenExpirationTime>true</con:useManualAccessTokenExpirationTime>
      <con:manualAccessTokenExpirationTimeUnit>SECONDS</con:manualAccessTokenExpirationTimeUnit>
      <con:clientID>610b910ba0474dccbc33ef547c1600cd</con:clientID>
      <con:clientSecret>88784898023d4526b1b29b93c09bafad</con:clientSecret>
      <con:oAuth2Flow>AUTHORIZATION_CODE_GRANT</con:oAuth2Flow>
      <con:refreshAccessTokenMethod>AUTOMATIC</con:refreshAccessTokenMethod>
      <con:refreshToken>AQDqeVbs5xdAXX5VJjx41_T-hhtB74JxGOMAU508UjxweKMaRLBQtN3EP43bYCMXfguK-xkBIRgrU-64lwCrdHokGqng2bQ4JTkIFSek9Mj2n_iAFIfTLBmCQylnh91HHcg</con:refreshToken>
      <con:accessTokenExpirationTime>3600</con:accessTokenExpirationTime>
      <con:jwtConfiguration/>
      <con:responseType>id_token</con:responseType>
    </con:oAuth2Profile>
    <con:oAuth2Profile>
      <con:name>auth_properties</con:name>
      <con:type>OAuth 2.0</con:type>
      <con:authorizationURI>${#Project#authURL}</con:authorizationURI>
      <con:accessTokenURI>${#Project#accessTokenURL}</con:accessTokenURI>
      <con:redirectURI>${#Project#redirectURL}</con:redirectURI>
      <con:accessToken>BQCRQeRkn5HcjHidJom82gHTwucEXdAKlDVP36Zp6aYI8V6balHqvL6CqMZRyXdvsvlwxONX5BZyxJzQ2v-RRob_A97B9LbhHtrU7Ope0ya-3pMjpO-2fBV2--UtzbVBHVLEvMXUrwvqLFPfeyRsicMVEN0OgEhGobL2-yzjYp55fOC_xgMl6XzV7QGLZZuZA5nmTA</con:accessToken>
      <con:accessTokenPosition>HEADER</con:accessTokenPosition>
      <con:accessTokenStatus>RETRIEVED_FROM_SERVER</con:accessTokenStatus>
      <con:accessTokenStartingStatus>RETRIEVED_FROM_SERVER</con:accessTokenStartingStatus>
      <con:accessTokenIssuedTime>1712332440</con:accessTokenIssuedTime>
      <con:manualAccessTokenExpirationTimeUnit>SECONDS</con:manualAccessTokenExpirationTimeUnit>
      <con:clientID>${#Project#clientID}</con:clientID>
      <con:clientSecret>${#Project#clientSecret}</con:clientSecret>
      <con:oAuth2Flow>AUTHORIZATION_CODE_GRANT</con:oAuth2Flow>
      <con:refreshAccessTokenMethod>AUTOMATIC</con:refreshAccessTokenMethod>
      <con:refreshToken>AQCQcM5VT9wMhtnLSEbLDGy0A35d7YlbICtnK9VKepbVEcMiHRro9Amk9DWwYwafsLR6VC-IJ9wi6dr9CURHrdEd8es40BsuuV6Zx_2bJ7EbX2Prjz7TNivqJC2-geM8jiQ</con:refreshToken>
      <con:accessTokenExpirationTime>3600</con:accessTokenExpirationTime>
      <con:jwtConfiguration/>
      <con:responseType>id_token</con:responseType>
    </con:oAuth2Profile>
  </con:oAuth2ProfileContainer>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers name="RequestFilter.filterRequest" type="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to ReadyAPI functional tests

// If hardcoding the token, uncomment and change line 5
// token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers name="TestRunListener.afterStep" type="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new java.io.FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new java.io.PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="4f9a23ac-e2f5-4dd1-8154-c8a3bbf422dc" name="Spotify Virt ENV" index="0">
    <con:service type="REST" name="Spotify Web API">
      <con:endpoint authProfile="New Spotify July 23" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="" areGlobalProxySettingsIgnored="false">http://localhost:8090</con:endpoint>
    </con:service>
    <con:property>
      <con:name>clientID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>clientSecret</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>authURL</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>accessTokenURL</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>redirectURL</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository>
    <con:kerberosAuthEntry>
      <con:name>test keberos</con:name>
      <con:type>SPNEGO/Kerberos</con:type>
    </con:kerberosAuthEntry>
    <con:oAuth20AuthEntry>
      <con:name>New Spotify July 23</con:name>
      <con:type>OAuth 2.0</con:type>
      <con:authorizationURI>https://accounts.spotify.com/authorize?</con:authorizationURI>
      <con:accessTokenURI>https://accounts.spotify.com/api/token</con:accessTokenURI>
      <con:redirectURI>http://localhost:8081/callback</con:redirectURI>
      <con:accessToken>BQA2qaaF0J7R-mi5ydwQ-9QDiPUddzVlRH2mOHreasTq5Z6azUp27bZ1HtNBjWhFQv39DK_yP45RySnXFDj9XjbQFbIJRV43e0F2LQFh3w5aMTTe7FMOJarNF_mOGZw7aeQtEgfx8k9OB_LJsAriJKhYC4UNPVuUGkUN311HAV42a9Hv5PNE0TNlfsXm6iajVtQbdn0n-ojyqe73QltX33WZyt-e4abjgGdCf-VdQnelFQvfUtGARnqzQKTQaDo60iMXXEwyHXHVVFa57_i4n_rrAEOvf1JFcVjumndFh8kHJV1axiI4PCCN_-apTGFRVoGKM_XYGQ8KCLfkHAN5H5F8RZ00YbrNlrzgrfFi4NDo_jfrTUx_egrPQ7MObfhhjSy1BGSU31o</con:accessToken>
      <con:accessTokenPosition>QUERY</con:accessTokenPosition>
      <con:accessTokenStatus>RETRIEVED_FROM_SERVER</con:accessTokenStatus>
      <con:accessTokenStartingStatus>RETRIEVED_FROM_SERVER</con:accessTokenStartingStatus>
      <con:accessTokenIssuedTime>1766801860</con:accessTokenIssuedTime>
      <con:manualAccessTokenExpirationTime>10</con:manualAccessTokenExpirationTime>
      <con:useManualAccessTokenExpirationTime>true</con:useManualAccessTokenExpirationTime>
      <con:manualAccessTokenExpirationTimeUnit>SECONDS</con:manualAccessTokenExpirationTimeUnit>
      <con:clientID>610b910ba0474dccbc33ef547c1600cd</con:clientID>
      <con:clientSecret>88784898023d4526b1b29b93c09bafad</con:clientSecret>
      <con:oAuth2Flow>AUTHORIZATION_CODE_GRANT</con:oAuth2Flow>
      <con:refreshAccessTokenMethod>AUTOMATIC</con:refreshAccessTokenMethod>
      <con:refreshToken>AQDqeVbs5xdAXX5VJjx41_T-hhtB74JxGOMAU508UjxweKMaRLBQtN3EP43bYCMXfguK-xkBIRgrU-64lwCrdHokGqng2bQ4JTkIFSek9Mj2n_iAFIfTLBmCQylnh91HHcg</con:refreshToken>
      <con:accessTokenExpirationTime>3600</con:accessTokenExpirationTime>
      <con:jwtConfiguration/>
      <con:responseType>id_token</con:responseType>
    </con:oAuth20AuthEntry>
    <con:oAuth20AuthEntry>
      <con:name>auth_properties</con:name>
      <con:type>OAuth 2.0</con:type>
      <con:authorizationURI>${#Project#authURL}</con:authorizationURI>
      <con:accessTokenURI>${#Project#accessTokenURL}</con:accessTokenURI>
      <con:redirectURI>${#Project#redirectURL}</con:redirectURI>
      <con:accessToken>BQCRQeRkn5HcjHidJom82gHTwucEXdAKlDVP36Zp6aYI8V6balHqvL6CqMZRyXdvsvlwxONX5BZyxJzQ2v-RRob_A97B9LbhHtrU7Ope0ya-3pMjpO-2fBV2--UtzbVBHVLEvMXUrwvqLFPfeyRsicMVEN0OgEhGobL2-yzjYp55fOC_xgMl6XzV7QGLZZuZA5nmTA</con:accessToken>
      <con:accessTokenPosition>HEADER</con:accessTokenPosition>
      <con:accessTokenStatus>RETRIEVED_FROM_SERVER</con:accessTokenStatus>
      <con:accessTokenStartingStatus>RETRIEVED_FROM_SERVER</con:accessTokenStartingStatus>
      <con:accessTokenIssuedTime>1712332440</con:accessTokenIssuedTime>
      <con:manualAccessTokenExpirationTimeUnit>SECONDS</con:manualAccessTokenExpirationTimeUnit>
      <con:clientID>${#Project#clientID}</con:clientID>
      <con:clientSecret>${#Project#clientSecret}</con:clientSecret>
      <con:oAuth2Flow>AUTHORIZATION_CODE_GRANT</con:oAuth2Flow>
      <con:refreshAccessTokenMethod>AUTOMATIC</con:refreshAccessTokenMethod>
      <con:refreshToken>AQCQcM5VT9wMhtnLSEbLDGy0A35d7YlbICtnK9VKepbVEcMiHRro9Amk9DWwYwafsLR6VC-IJ9wi6dr9CURHrdEd8es40BsuuV6Zx_2bJ7EbX2Prjz7TNivqJC2-geM8jiQ</con:refreshToken>
      <con:accessTokenExpirationTime>3600</con:accessTokenExpirationTime>
      <con:jwtConfiguration/>
      <con:responseType>id_token</con:responseType>
    </con:oAuth20AuthEntry>
  </con:authRepository>
  <con:environmentSpec>
    <con:entry environmentId="4f9a23ac-e2f5-4dd1-8154-c8a3bbf422dc">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags>
    <con:tag>
      <con:id>1651f3ea-e09c-4f78-bdf4-ae34962480ce</con:id>
      <con:name>tag1</con:name>
    </con:tag>
    <con:tag>
      <con:id>4b41bb44-9ebf-4819-987e-fdeff3ce4afa</con:id>
      <con:name>tag2</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
