<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="fc430279-bae7-44ef-b348-8f048b6ae4bb" name="General Tests">
  <con:settings id="afd48807-1d2e-4cb5-a2ce-6fedfed9aee1">
    <con:setting id="fc430279-bae7-44ef-b348-8f048b6ae4bbfileName">General-Tests</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
