<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="fc430279-bae7-44ef-b348-8f048b6ae4bb" name="General Tests">
  <con:settings id="3907ef3b-fc33-4f13-88ec-d4fe1ca64b68">
    <con:setting id="fc430279-bae7-44ef-b348-8f048b6ae4bbfileName">General-Tests</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="4f9a23ac-e2f5-4dd1-8154-c8a3bbf422dc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
