<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fc430279-bae7-44ef-b348-8f048b6ae4bb" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fc430279-bae7-44ef-b348-8f048b6ae4bbfileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
