<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="8e01b3ec-0c45-44e3-bde0-9c0a2f563162" name="Shuffle">
  <con:settings id="38b74175-1d3c-454d-ba1b-fe835296c7e5">
    <con:setting id="8e01b3ec-0c45-44e3-bde0-9c0a2f563162fileName">Shuffle</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
